<div class="container">
  <!--Listeners for events which will be sent from cockpit.html-->
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>

  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
    <!--<app-server-element-->
        <!--*ngFor="let serverElement of serverElements"-->
        <!--[srvElement]="serverElement">-->

        <!--<p>-->
            <!--<strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>-->
            <!--<em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>-->
        <!--</p>-->
    <!--</app-server-element>-->
    <!--</div>-->
  <!--</div>-->

    <hr>
    <div class="row">
        <div class="col-xs-12">
            <h1>Test lifecycle hooks</h1>
            <button class="btn btn-primary" (click)="onChangeFirst()">Change first name</button>
            <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first name</button>
            <app-lifecycle-hooks
                *ngFor="let serverElement of serverElements"
                [name]="serverElement.name"> <!-- name sa leve strane dolazi iz lifecycle.component.ts -->

                <div class="Here we print content from serverElement">
                    <hr>
                    <p #contentParagraph>
                        <strong *ngIf="serverElement.type === 'server'" style="color: red">server content: {{ serverElement.content }}</strong>
                        <em *ngIf="serverElement.type === 'blueprint'" style="color: blue">server content: {{ serverElement.content }}</em>
                    </p>
                </div>
            </app-lifecycle-hooks>
        </div>
    </div>
</div>
